body {
  margin: 0;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #333333;
}
.flexbox {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
}

a {
  color: #F35F55;
  transition: all 0.2s;
}

a:hover {
  color: #C02C22;
}

#hero h1 span, #hero h1 img.ampersand {
  display: inline-block;
  vertical-align: middle;
}

#hero h1 {
  font-weight: 100;
}

img.ampersand {
  width: 55px;
}

#hero {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    url(images/jeff-eliza-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color: #FDF6E9;
  padding: 0;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background:
    url(images/jeff-eliza-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  margin-top: 40px;
  color: #FDF6E9;
  justify-content: center;
  border-top: 1px solid #c7c7c7;
  padding-top: 160px;
}

footer p {
  font-style: italic;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
}


#hero .hero-text {
  text-align: center;
  margin-top: -250px;
  padding: 20px 0;
  border-top: 2px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
}

#hero h3 {
  color: #FDF6E9;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'proxima_nova_altbold', Georgia, sans-serif;
}

#hero h3:first-of-type {
  margin-right: 10px;
  padding-right: 15px;
  border-right: 2px solid #a7a7a7;
}

#hero .ion-chevron-down {
  position: absolute;
  bottom: 0;
  font-size: 2.5em;
  color: #FDF6E9;
  left: 0;
  right: 0;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  letter-spacing: 3px;
  margin-top: 0;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'proxima_nova_altbold', Georgia, sans-serif;
}

p {
  margin-top: 0;
  font-size: 17px;
  line-height: 26px;
  color: #333;
}


h1 {
  text-align: center;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}

h3 {
  font-size: 16px;
  margin: 10px 0;
}

section {
  padding: 0 1em;
  max-width: 1024px;
}


.section-title {
  color: #628976;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 50px;
}

.venue {
  flex-direction: column;
}

.venue-img {
  border-radius: 4px;
  height: 350px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(images/gibbet-hill.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.address-and-directions {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
}

.address-and-directions .left {
  margin-bottom: 20px;
}

.wedding-details {
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
  margin: 20px auto;
}
.wedding-details li {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.wedding-details li img {
  width: 80px;
  margin-bottom: 20px;
}

.wedding-details li p {
  margin-bottom: 0;
}

.venue-img img {
  width: 70%;
}

.venue-details {
  width: 100%;
}
.venue-details p {
  text-align: center;
}

.venue ul {
  list-style-type: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.venue ul li {
  margin-bottom: 5px;
}

.venue .right {
  text-align: center;
}

.btn {
  background: #F35F55;
  color: #FDF6E9;
  text-decoration: none;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2px;
  display: inline-block;
  font-family: 'proxima_nova_altbold', Georgia, sans-serif;
}

.btn:hover {
  background: #C02C22;
}
p.centered {
  text-align: center;
}

.btn.directions-btn, .btn.book-link-btn {
  margin-bottom: 7px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.book-link-btn.coming-soon {
  pointer-events: none;
  background: #c7c7c7;
}

.btn:hover {
  color: #FDF6E9;
}

span.teasin {
  display: block;
  color: #a7a7a7;
  font-style: italic;
  text-align: center;
}

.ion-star {
  color: #628976;
  margin-right: 7px;
}

.hotel-list .ion-star {
  margin-right: 0;
  position: absolute;
  right: -22px;
  top: 0;
}

p.starred-info {
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

.hotel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.hotel-list li {
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.hotel-list li:last-of-type {
  margin-bottom: 0;
}
.hotel-list li img {
  width: 100%;
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #c7c7c7;
}

.hotel-list li p.address {
  margin-bottom: 0;
  margin-top: 10px;
}
.hotel-list li .hotel-info {
  text-align: center;
}
.hotel-list li .hotel-info h4 {
  position: relative;
  display: inline;
}
.hotel-list li .book-now {
  display: block;
  margin: 30px auto 0;
}

.embedded-map {
  height: 400px;
  overflow: hidden;
  margin-bottom: 40px;
  display: none;
}

.embedded-map .overlay {
  background: transparent;
  position:relative;
  width: 100%;
  height: 400px;
  top: 400px;
  margin-top: -400px;
  z-index: 1;
}

.embedded-map iframe {
  position: relative;
  border: 0;
  top: -80px;
  z-index: 0;
}

/* Screen sizes
 Small size: 480px
 Medium size: 768px
 Large size: 992px
 Xtra Large size: 1200px
*/

/* Small up */
@media (min-width: 480px) {
  .venue-img img {
    width: 50%;
  }
  .hotel-list li {
    width: 50%;
    padding: 15px 30px;
  }
}

/* Medium up */
@media (min-width: 768px) {
  section {
    margin: 40px auto;
  }
  .section-title {
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .embedded-map {
    display: block;
  }
  .address-and-directions .left {
    margin-bottom: 0;
  }
  .venue ul {
    text-align: left;
  }
  .wedding-details {
    margin: 60px auto 0;
  }
  .wedding-details li {
    width: 32%;
    margin-bottom: 0;
  }
  .flexbox {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .venue-img img {
    width: 60%;
  }
  .venue-img {
    width: 55%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  .venue-details {
    width: 40%;
  }
  h3 {
    font-size: 22px;
    margin: 15px 0;
  }
  h1 {
    font-size: 48px;
  }
  .venue-details p {
    text-align: left;
  }
  #hero h3 {
    letter-spacing: 4px;
  }
}

/* Large up */
@media (min-width: 992px) {
}

/* XLarge up */
@media (min-width: 1200px) {
}
